body{
  margin-top: 80px;
  position: relative;
}


// Default navbar
.navbar-default {
  background-color: transparent;
  border: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;

  overflow: hidden;
  &.open {
    background-color:rgba(190, 30, 45, 0.95);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);

  }
  &.scroll {
    background-color: rgba(255, 255, 255, .95);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);

    .container {
      transform: translateY(0) scale(1) !important;
      opacity: 1 !important;
    }
    .navbar-brand {
      color: #ffffff;
      padding: 0;
      height: 65px;
      position: absolute;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      -o-transform: translateY(-100px);

      &.logo-scroll {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        opacity: 1;
      }

      &:hover,
      &:focus {
        color: #ffffff;
      }
    }

    .navbar-text {
      color: #be1e2d;
    }

    .navbar-nav {
      > li{
        // Active state, and its :hover to override normal :hover
        &.divider {
          margin: 0 10px;
        }
        &.social {
          a{
            padding-top: 22px;
            padding-bottom: 22px;
            padding-left: 10px;
            padding-right: 10px;
            &:hover,
            &:focus {
              color: #be1e2d;
              background-color: none;
              cursor: pointer;
            }
          }

          &:after {
            display: none;
          }
        }

        a{
          padding-top: 20px;
          padding-bottom: 20px;
        }
        &.active > a {
          &,
          &:hover,
          &:focus {
            color: #be1e2d;
            background-color: transparent;
            cursor: default;
          }
        }

        //Border bottom effect
        &:after {
          content: '';
          display: block;
          margin: auto;
          height: 5px;
          width: 0px;
          background: transparent;
        }

        &.active:after{
          width: 100%;
          background: #be1e2d;
        }
        &:hover:after,
        &:focus:after {
          width: 100%;
          background: rgba(190, 30, 45, .6);
        }

        > a {
          color: rgba(0, 0, 0, 0.6);

          &:hover,
          &:focus {
            color: #be1e2d;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: #be1e2d;
            background-color: none;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: #666666;
          }
        }
      }
      }

      .navbar-toggle{
        border: 0;
        &,
        &:hover,
        &:focus{
          background: none;
        }
        .icon-bar {
          width: 25px;
          height: 3px;
          border-radius: 4px;
          background-color: #be1e2d;
        }
      }

  }//End of scrol

  .navbar-brand {
    color: #ffffff;
    padding: 0;
    height: 65px;
    position: absolute;
    transition: all 0.5s ease;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);

    &.logo-scroll {
      transform: translateY(100px);
      -webkit-transform: translateY(100px);
      -moz-transform: translateY(100px);
      -ms-transform: translateY(100px);
      -o-transform: translateY(100px);
      opacity: 0;
    }

    &:hover,
    &:focus {
      color: #ffffff;
    }
  }

  .navbar-text {
    color: #ffffff;
  }

  .navbar-nav {
    > li{
      // Active state, and its :hover to override normal :hover
      &.divider {
        margin: 0 10px;
        opacity: 0;
      }
      &.social {
        display: inline-block;
        a{
          padding-top: 22px;
          padding-bottom: 22px;
          padding-left: 10px;
          padding-right: 10px;
          &:hover,
          &:focus {
            color: #ffffff;
            background-color: transparent;
            cursor: pointer;
          }
        }

        &:after {
          display: none;
        }
      }
      a{
        padding-top: 20px;
        padding-bottom: 20px;
      }
      &.active > a {
        &,
        &:hover,
        &:focus {
          color: #ffffff;
          background-color: transparent;
          cursor: default;
        }
      }

      //Border bottom effect
      &:after {
        content: '';
        display: block;
        margin: auto;
        height: 5px;
        width: 0px;
        background: transparent;
      }

      &.active:after{
        width: 100%;
        background: #ffffff;
      }
      &:hover:after,
      &:focus:after {
        width: 100%;
        background: rgba(255, 255, 255, .8);
      }

      > a {
        color: rgba(255, 255, 255, .8);

        &:hover,
        &:focus {
          color: #ffffff;
          background: rgba(255, 255, 255, .2);

        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: #ffffff;
          background-color: none;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: #666666;
        }
      }
    }
    }

    .navbar-toggle{
      border: 0;
      height: 35px;
      width: 25px;
      &,
      &:hover,
      &:focus{
        background: none;
      }
      &.open{
        .icon-bar{
          &:nth-child(1){
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 7px;
          }
          &:nth-child(2){
            width: 0%;
            opacity: 0;
          }
          &:nth-child(3){
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 20px;
          }
        }
      }
      .icon-bar {
        width: 25px;
        height: 3px;
        border-radius: 4px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;

        &:nth-child(1){
          top: 8px;
        }
        &:nth-child(2){
          top: 12px;
        }
        &:nth-child(3){
          top: 20px;
        }
      }
    }

}


.navbar-collapse {
  box-shadow: none;
  border: 0;
  max-height: 100% !important;
}

// Media Queires
@mixin navbar-320(){
  .navbar-default{
    .navbar-brand{
      img{
        max-width: 91px;
      }
    }
    .navbar-collapse {
      .divider{
        height: 20px;
      }
      .social {
        width: 45px;
        text-align: center;
      }
    }
  }
};

@mixin navbar-375(){
  .navbar-default{
    .navbar-brand{
      img{
        max-width: 91px;
      }
    }
    .navbar-collapse {
      .divider{
        height: 20px;
      }
      .social {
        width: 45px;
        text-align: center;
      }
    }
  }
};

@mixin navbar-480(){
  .navbar-default{
    .navbar-brand{
      img{
        max-width: 91px;
      }
    }
    .navbar-collapse {
      .divider{
        height: 20px;
      }
      .social {
        width: 50px;
        text-align: center;
      }
    }
  }
};


@mixin navbar-768(){
  .navbar-default{
    .navbar-brand{
      img{
        max-width: 115px;
      }
    }
    .navbar-collapse {
      .divider{
        height: 65px;
      }
      .social {
        width: auto;
      }
    }
  }
};
